/****************** Pallete from Material Palette ************
/****  www.materialpalette.com/purple/deep-purple 

.dark-primary-color    { background: #7B1FA2; }
.default-primary-color { background: #9C27B0; }
.light-primary-color   { background: #E1BEE7; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }
*/

/****************** Material Palette colors ************/
:root {
  --dark-primary-color: #7B1FA2; 
  --default-primary-color: #9C27B0; 
  --light-primary-color: #E1BEE7; 
  --text-primary-color: #FFFFFF; 
  --accent-color: #448AFF;
  --primary-text-color: #212121; 
  --secondary-text-color: #757575; 
  --divider-color: #BDBDBD; 
}

/************* Google Fonts ********************************/
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
/****************************************************************/

body {
  margin: 60px 0 20px;
  font-family: 'Sora', sans-serif;

/***** background image from:  
/*****https://www.toptal.com/designers/subtlepatterns/?s=snow ***/
  background-image: url('blue-snow/blue-snow.png');
}

h1 {
  text-align: center;
}

.skishop-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 10px auto 20px;

}

.gear-card {
  border: 3px solid black;
  box-shadow: 4px 8px #444444;
  width: 28%;
  margin: 20px 10px;
  background-color: var(--light-primary-color); 

}

.gear-card header {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  min-height: 6em;
  width: 92%;
  margin: 3% auto 3%;
  background-color: var(--dark-primary-color);
  color: var(--text-primary-color);
  transition: all .2s;
  
}
.gear-card h2 {
  text-align: center;
  transition: all .2s;
}

.description-section {
  float: left;
  position: relative;
  transition: all .2s;
}
.description-section img.sold_out {
  position: absolute;
  left: -10%;
  opacity: 80%;
  width: 120%;
  margin: 9% auto;
  border: none;
}
.description-section img {
  display: block;
  width: 92%;
  margin: 0 auto;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

.description-section .description p {
  padding: 0 4% 0;
  min-height: 8em;
  text-align: justify;
  transition: all 0.2s;
}
.availability {
  background-color: #444444;
  color: yellow;
  text-align: center;
  font-size: 1.2em;
}

.specifications,.pricing {
  padding: 0 4% 0;
}


.size_weight, .volume {
  font-weight: bold;
  margin-left: 5%;
}
.specifications footer {
  text-align: center;
}

@media (max-width: 1266px) {
  .gear-card header {
    min-height: 8em;
  }
}

@media (max-width: 974px) {
  .description-section .description p {
    min-height: 10em;
  }
}

@media (max-width: 774px) {
  .description-section .description p {
    min-height: 12em;
  }
}  

@media (max-width: 644px) {
  .description-section .description p {
    min-height: 14.5em;
  }
}

@media (max-width: 564px) {
  .gear-card {
    font-size: .9em;
  }
  .gear-card header {
    min-height: 6em;
  }
  .gear-card h2 {
    font-size: 1.2em;
  }
  .description-section .description p {
    min-height: 14em;
  }
}

@media (max-width: 508px) {
/* switches to two columns anyways, making wider 
 * font back to normal */
  .gear-card {
    width: 40%;
    font-size: 1em;
  }
  .gear-card header {
    min-height: 6em;
  }
  .gear-card h2 {
    font-size: 1.2em;
  }
  .description-section .description p {
    min-height: 12em;
  }
}

@media (max-width: 340px) {
  .gear-card {
    width: 80%;
  }
  .gear-card header {
    min-height: 4em;
  }
  .description-section .description p {
    min-height: 4em;
  }
}
